body {
  margin: 0;
  padding: 0;
  font-family: 'Tajawal', sans-serif;
}
section,footer,header{
  width:100%;
  height:auto;
  overflow:hidden;
  max-width:100%;
  padding:25px 0px;
  margin-top: 50px;
}
footer{
  background-color: #5995fd;
  border-radius: 2px;
}
html{
  scroll-behavior: smooth;
}
:root{
  --main-color:#1F2278;
  --orange-color:#f17732;
  --btn-color:#563acf;
}
 
a{
  text-decoration: none !important;
}
span{
  display: block;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style-type: none;
}
.li-footer:hover{
  color: #FAF9F6;
}
button{
  text-align: center;
  box-sizing: border-box;
  height: 40px;
  border-radius: 4px;
}
p{
  line-height: 28px;
}
input{
  box-sizing: border-box;
  border: 1px solid #fff;
  text-align: left;
  padding: 5px 15px;
  color:#333;
  font-size: 16px;
  font-family: 'Tajwal';
}
footer h2{
  color: var(--main-color);
  font-size: 30px;
  margin: 15px 0px;
}
footer ul{
  margin-top: 20px;
}
footer ul li{
  margin-top: 10px;
}
footer ul li a{
  color: #333;
  font-size: 16px;
  letter-spacing: 1px;
}
footer form{
   margin: 15px 0px;
}
footer form input{
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 10px 0px;
  width: 100%;
}
footer form input ::placeholder{
  color:black;
  font-size: 50px;
}
footer form button{
  width: 100%;
  background-color: var(--orange-color);
  border:1px solid var(--orange-color);
  color:#fff;
  border-radius: 6px;
}
