.chat-container {
    max-width: 600px;
    margin: 50px auto 0;
    border: 3px solid #5995fd;
    border-radius: 5px;
    overflow: hidden;
  }
.h-ask{
    color: #002D62;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}
.p1-ask{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}
.p2-ask{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}
/*.box-ask{
    text-align: center;
    margin: 0 auto;
}
.btn-ask{
    text-align: center;
}*/
.chat-body {
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
    background-color: #fff;
  }
  
  .chat-page{
    background-image: url('../../Assets/appointment.jpeg');
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .btn-ask{
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #5995fd;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 120px;
    transition: 0.5s;
    text-align: center;
}

.btn-ask:hover{
    background-color: #4d84e2;
}

.send-message{
  color: #002D62;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.question-title, .question-department, .text-question-area{
  border: 1px solid #5995fd;
  border-radius: 5px;
}

.question-department{
  
}
.title-department{
  display: flex;
}

@media (max-width: 768px) {
  .chat-container {
    max-width: 90%;
    margin: 50px auto 0;
  }
  
  .btn-ask {
    margin: 10px auto;
  }
}

@media (max-width: 480px) {
  .chat-container {
    max-width: 90%;
    margin: 30px auto 0;
    border: none;
  }

  .chat-header {
    text-align: center;
  }

  .h-ask {
    font-size: 36px;
  }

  .p1-ask {
    font-size: 16px;
  }

  .p2-ask {
    font-size: 14px;
  }

  .question-area textarea {
    font-size: 16px;
  }

  .btn-ask {
    margin: 10px auto;
    font-size: 16px;
  }
}